{% for key_ligne,ligne in cleaned_data %}
    <tr>
    {% for key,value in ligne %}
            <td data-label="{{ key }}">{{ value }}</td>
    {% endfor %}
        <td class="action_column">
        {% for action in actions %}
            <span class="tableau_action_button button small {{ action.couleur }}"
                  data-url="{{ action.url }}"
                  data-confirmation_msg="{{ action.confirmation_msg }}"
                  data-type_popin_retour="{{ action.type_popin_retour }}"

                    {% set array_data_to_send = [] %}
                    {% for variable in action.data_to_send %}
                        {% set array_data_to_send = array_data_to_send|merge({ (variable): attribute(attribute(data, key_ligne), variable) }) %}
                    {% endfor %}
                  data-to_send="{{ array_data_to_send | json_encode }}"

            >
                {{ action.icone | raw }} {{ action.label }}
            </span>
        {% endfor %}
        </td>
    </tr>
{% endfor %}