{% for ligne in cleaned_data %}
    <tr>
    {% for key,value in ligne %}
            <td data-label="{{ key }}">{{ value }}</td>
    {% endfor %}
        <td class="action_column">
        {% for action in actions %}
            <span class="button small {{ action.couleur }}" >{{ action.icone | raw }} {{ action.label }}</span>
        {% endfor %}
        </td>
    </tr>
{% endfor %}