{% for ligne in cleaned_data %}
    <tr>
    {% for key,value in ligne %}
            <td data-label="{{ key }}">{{ value }}</td>
    {% endfor %}
        <td class="action_column">
        {% for action in actions %}
            <span class="tableau_action_button button small {{ action.couleur }}"
                  data-url="{{ action.url }}"
                  data-confirmation_msg="{{ action.confirmation_msg }}" >
                {{ action.icone | raw }} {{ action.label }}
            </span>
        {% endfor %}
        </td>
    </tr>
{% endfor %}