{% set uniqid = "form_id_" ~ "now"|date("Ymdhisu") ~ random(1, 9999999999999) %}
<div class="container_form" id="{{ uniqid }}" style="max-width: {{ size }}">
    <form action="{{ url }}">
        <div class="col_grid">
            {% for input in fields %}
                {{ include('/common/forms/input.twig') }}
            {% endfor %}
        </div>
    </form>
</div>
<script>

    /** catch le clic sur le bouton de validation de la popin si le formulaire est dans une popin */
    $('#{{ uniqid }}').closest('.background_popup_main').on('popin_valid', function(e) {

        $(this).find('form').postForm(function(){
            /** fermer la popin si success */
            $('#{{ uniqid }}').closest('.popin-container').removeAttr('data-no-close');
            $('#{{ uniqid }}').closest('.popin-container').find('.close_popin').click();
        });

        /** Desactiver la fermeture auto de la popin */
        $('#{{ uniqid }}').closest('.popin-container').attr('data-no-close', true);

        /** refersh du/des tableaux parent au formulaire */
        let table = $( '.container_table .table_wrapper table[data-refreshme]' );
        let event = $.Event( "Tableau::pagination_refresh" );
        table.trigger( event );
        table.removeAttr('data-refreshme');

    });

    new Validation();

</script>
